# --------------------
# Python / Flask
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
instance/
.env
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# --------------------
# Node.js
# --------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# --------------------
# OS / Editor files
# --------------------
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/